<%= render :partial => "layouts/nav" %>
<section class="module">
  <div class="container">
    <div class="col-sm-3 text-center"><h3 class="alt-features-title font-alt">Confirmados</h3><%= @guests %></div>
    <div class="col-sm-3 text-center"><h3 class="alt-features-title font-alt">Sexta/Sábado</h3><%= @friday %></div>
    <div class="col-sm-3 text-center"><h3 class="alt-features-title font-alt">Sábado/Domingo</h3><%= @sunday %></div>
    <div class="col-sm-3 text-center"><h3 class="alt-features-title font-alt">Crepe</h3><%= @crepe %></div>
      <div class="col-sm-12">
        <table class="table table-striped table-border checkout-table"  style="margin-top:20px">
          <tbody>
            <tr>
              <th style="width: 20%;">Convite</th>
              <th style="width: 5%;">Qtd.</th>
              <th style="width: 20%;">Brindes</th>
              <th style="width: 15%;">Restrição</th>
              <th style="width: 10%;">Sexta/Sábado</th>
              <th style="width: 10%;">Sábado/Domingo</th>
              <th style="width: 10%;">Crepe</th>
              <th style="width: 20%;">Cabelo/Maquiagem</th>
            </tr>
            <% Guest.confirmados.order(:updated_at).each do |guest| %>
              <tr>
                <td><%= guest.name %></td>
                <td><%= guest.guests %></td>
                <td><%= guest.full_names %></td>
                <td><%= guest.observation %></td>
                <td><%= "X" if guest.friday %></td>
                <td><%= "X" if guest.sunday %></td>
                <td><%= "X" if guest.crepe %></td>
                <td><%= guest.hair_makeup %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
