<%= render :partial => "layouts/nav" %>
<section id="home" style="height: 350px;margin-top:50px">
  <div class="hero-slider">
    <ul class="slides">
      <li class="bg-dark-30 bg-dark" style="background-image: url('https://res.cloudinary.com/dt7akujlg/image/upload/v1624588868/00206964_u1dhth.jpg'); width: 100%; float: left; opacity: 0; display: block; z-index: 1;" data-thumb-alt="">
        <div class="titan-caption" style="top: 0px;">
          <div class="caption-content">
            <div class="font-alt module-title">Lista de Presentes<br><br>Cotas de Lua de Mel</div>
          </div>
        </div>
      </li>
      <li class="bg-dark-30 bg-dark flex-active-slide" style="background-image: url('https://res.cloudinary.com/dt7akujlg/image/upload/v1624588868/passagens-aereas-promocionais-executiva-ethiopian-airlines-bangkok-tailandia-asia-voe-simples-promocoes-sdppart1_ppfh8j.jpg'); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" data-thumb-alt="">
        <div class="titan-caption" style="top: 0px;">
          <div class="caption-content">
            <div class="font-alt module-title">Lista de Presentes<br><br>Cotas de Lua de Mel</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<hr class="divider-w">
<section class="module-small">
  <div class="container">
    <div class="row multi-columns-row">
      <% Gift.ativos.order(:price).each do |gift| %>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="shop-item" style="height:440px">
          <h6 class="font-alt"><%= gift.country %></h6>
          <h5 class="font-alt"><b><%= gift.name %></b></h5>
          <div class="shop-item-image"><img src=<%= gift.picture %>>
            <div class="shop-item-detail"><a href=<%= "comprar?id=#{gift.id}" %> class="btn btn-round btn-b"><span class="icon-basket">Comprar</span></a></div>
          </div>
          <h5 class="font-serif"><%= gift.description%><br><br><b>R$<%= gift.price %> / cota</b><br><%= gift.remaining_quota > 1 ? "Restam #{gift.remaining_quota} cotas" : "Resta #{gift.remaining_quota} cota" %></h5>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
</hr>
